<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    <ui:composition template="/template.xhtml">
        <head>
            <ui:define name="header_title">
                <title>JSF PhaseListener Example Using Facelets</title>
            </ui:define>
        </head>
        <body>
            <ui:define name="title">
                JSF PhaseListener Example Using Facelets
            </ui:define>
            <ui:define name="body">
                <h:form id="form1">
                    <h:panelGrid id="panelGrid1" columns="1">
                        <h:outputText id="outputText1" value="This is an facelets example with JSF PhaseListeners and ui:debug attached"/>
                        <h:outputText id="outputText2" value="#{ExampleBackingBean.sampleOutput}"/>
                        <hr/>
                        <h:outputText id="outputText3" value="Use CTRL+SHIFT+D to display Facelets debug information"/>
                        <h:commandButton id="commandButton1" value="Press Me"/>
                    </h:panelGrid>
                </h:form>
                <ui:debug/>
            </ui:define>
        </body>
    </ui:composition>
</html>

